core/node_modules/
core/dist/

dnd-ui/node_modules/

dnd-ui/webview-ui/node_modules
dnd-ui/webview-ui/.DS_Store
dnd-ui/webview-ui/dist
dnd-ui/webview-ui/dist-ssr
dnd-ui/webview-ui/build
dnd-ui/webview-ui/build-ssr
dnd-ui/webview-ui/*.local
